
@{
    ViewBag.Title = "galerija";
}

<div class="container gallery-container">

    <h1>Galerija 2017/2018</h1>
    <div class="gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/1.jpg">
                    <img src="~/slike/1.jpg" alt="Vrtic1">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/2.jpg">
                    <img src="~/slike/2.jpg" alt="Vrtic2">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/31.jpg">
                    <img src="~/slike/1.jpg" alt="Vrtic3">
                </a>
            </div>
            <div class="col-sm-6 col-md-8">
                <a class="lightbox" href="~/slike/4.jpg">
                    <img src="~/slike/4.jpg" alt="Vrtic4">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/5.jpg">
                    <img src="~/slike/5.jpg" alt="Vrtic5">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/6.jpg">
                    <img src="~/slike/6.jpg" alt="Vrtic6">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/7.jpg">
                    <img src="~/slike/7.jpg" alt="Vrtic7">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/8.jpg">
                    <img src="~/slike/8.jpg" alt="Vrtic8">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/slike/9.jpg">
                    <img src="~/slike/9.jpg" alt="Vrtic9">
                </a>
            </div>
        </div>

    </div>
</div>
<!--galerija-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.gallery');
</script>