@{
    ViewBag.Title = "O Nama";
}

<div class="container pt-1">

    <div class="row">
        <div class="col-12 hero">
  
            <div class="col-12 offset-3">
                <h2 class="text-uppercase text-center">O nama</h2>
            </div>
            <div class="row">
                <div class="col-lg-2 sm-block"><img src="~/slike/christmas-2919724_640.png" class="drvo"></div>
                <main class="col-lg-10 col-sm-12">
                    <pre class="oNama"><i>
                    Bambi je vrtić koji raste zajedno sa decom, prati njihov razvoj i potrebe,
                    inspiriše, podstiče na istraživanje i komunikaciju. To je dobro i sigurno
                    mesto gde se poštuju sloboda govora i izbora, otvorenost i jednakost.

                    Mi verujemo u bezgraničnost dečijih mogućnosti za pravilan i pozitivan rast i
                    razvoj. Znamo da svako dete ima sposobnost da se oseti srećno i uspešno. 
                    Zato želimo da podelimo naša znanjai prenesemo iskustva, kako bismo
                    pomogli malim ljudima da ostanu srećni.

                    Naš zadatak je da svakom detetu omogućimo uslove da prepozna
                    sopstvene kapacitete i da u njih veruje; da stvorimo okruženje u kom
                    se dete oseća voljeno i uči da voli, u kome je poštovano i uči da poštuje sebe i
                    druge. Svakom detetu pristupamo sa pažnjom i uverenjem da je ličnost za
                    sebe, sa jedinstvenim potrebama, sposobnostima i razvojnim
                    karakteristikama. Verujemo da je svako dete posebno i neponovljivo biće
                    i zato mu pružamo individualno usmeren i ličan pristup.Želimo da svako
                    dete živi i raste sa uverenjem da je baš takvo kakvo jeste dovoljno dobro i
                    dovoljno vredno da od nas odraslih nasledi "univerzum". 

                    Bambi nije samo mesto gde se odrasta, uči i sprema za neki budući 
                    život, već je i društvo istraživača i pustolova. Ovde se živi detinjstvo i stiču
                    znanja i sposobnosti koja su deci korisna i vredna, kako danas, tako i za sto godina.</i></pre>

                </main>
            </div>
        </div>
    </div>

</div>
